<?xml version="1.0"?>
	<xacro:property name="mass" value="5.0"/>
  <xacro:property name="visual_mesh_file" value="file://$(urdf_test)/meshes/Oke-bot.dae"/>
		<link name="okebot_base_link">
			<!-- inertial(material, iner)-->
	  	<inertial>
	    	<mass value="${mass}"/>
	    	<origin xyz="0 0 0"/>
	      <inertia ixx="3.257E+08" ixy="-3.966E+05" ixz="-6.829E+06"
								 iyx = "-3.966E+05" iyy = "4.469E+08" iyz = "-1.401E+05"
								 izx = "-6.829E+06" izy = "-1.401E+05" izz = "3.066E+08"/>
	    </inertial>

	    <visual>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	        	<mesh filename="${visual_mesh_file}" scale="1 1 1"/>
	      	</geometry>
	    </visual>
	      <!-- bottom plate -->
	    <collision>
	    	<origin xyz="0 0 0" rpy="0 0 0"/>
	      	<geometry>
	          <cylinder length="0.17" radius="0.30"/>
	        </geometry>
      </collision>
		</link>
  </xacro:macro>
</robot>